@CHARSET "UTF-8";

#login-page, #main { width: 100%; height: 100%; padding: 0; }

.ui-icon-list {
  background: url(images/facebook-logo-icon.png) 45% 50% no-repeat;
  background-size: 38px 38px;
  box-shadow: none;
  -webkit-box-shadow: none;
  margin: -2px !important;
  margin-left:-15px!important;
}

.ui-icon-myapp-email {
	background-image: url(images/facebook-logo-icon.png);
}

.ui-icon-myapp-settings {
	background: url("images/facebook-logo-icon.png") 45% 50% no-repeat;
}

#login {
   padding:5px 5px 5px 30px; 
   background:url(images/facebook-logo-icon.png) no-repeat 40% center;
   background-size: 30px 100%;
   color: #3B5998;
   background-color: #FFFFFF;
}

#webpage {
   padding:5px 5px 5px 30px; 
   background-size: 30px 100%;
   color: #3B5998;
   background-color: #FFFFFF;
}

#map-page, #test {
	width: 100%;
	height: 80%;
	padding: 0;
}

#map-canvas, #tabs, #one {
	width: 100%;
	height: 100%;
	padding: 0;
}

#map_canvas, #tabs, #two {
	width: 100%;
	height: 100%;
	padding: 0;
}

